body {
    background-color: rgb(28, 26, 41);
}
/*index.html menu */
ul{
    background-color: black;
    overflow: hidden;
    margin:0px;
    padding:0px;
    line-height: 3rem;
}
li{
    list-style-type:none;
    float: left;
    width:100px;
}

li a{
    padding-right: 5px;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}
li a:hover{
    background-color: rgb(29, 34, 165);
    border-radius: 5px;
    color:white;
    
}
.session{
    float:right;
    color:aliceblue;
    width:200px;
}
.login-form{
    color: aliceblue;
    text-align: center;
    margin-top: 200px;
}
h2{
    color: aliceblue;
    text-align: center;
    margin-top:15px;
}

@media only screen and (max-width: 600px) {
  [class*="col-"] {
  width: 100%;

  }
}
/* login.html */
h3{
    text-align: center;
    color: aliceblue;
    margin-top: 10px;
}

#login-form{
    text-align: center;
    position: absolute;
    left:50%;
    transform: translate(-50%, 0);
    }
#username{
    line-height: 3rem;
    margin-bottom: 10px;
    border-radius: 7px;
    text-align: center;
}
#password,#password1{
    line-height: 3rem;
    margin-bottom: 10px;
    border-radius: 7px;
    text-align: center;
}

#email{
    line-height: 3rem;
    margin-bottom: 10px;
    border-radius: 7px;
    text-align: center;
}
/*registr.html*/
#warning{
    color: darkred;
}
.clearfix{
    clear:both;
    
}

