body {
    

        background-image: linear-gradient(to right ,rgb(41, 112, 122),rgb(21, 57, 104),rgba(104, 65, 139, 0.534));
    
}
/*index.html menu */
ul{
    background-color: black;
    overflow: hidden;
    margin:0px;
    padding:0px;
    line-height: 2rem;
}
li{
    list-style-type:none;
    float: left;
    width:100px;
}

li a{
    padding-right: 5px;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}
li a:hover{
    background-color: rgb(29, 34, 165);
    border-radius: 5px;
    color:white;
    
}
.session{
    color: #007bff;
    text-align: center;
    
}

h2{
    color: aliceblue;
    text-align: center;
    margin-top:15px;
}

@media only screen and (max-width: 768px) {
  a.col-md-1 {
    width: 20%;

  }
  input.col-md-1{
      width: 20%;
  }

}
/* login.html */
h3{
    text-align: center;
    color: aliceblue;
    margin-top: 10px;
}

#login-form{
    text-align: center;
    transform: translate(0, 0);
    }
#username,#password,#password1,#email{
    line-height: 3rem;
    margin-bottom: 10px;
    border-radius: 7px;
    text-align: center;
}

/*registr.html*/
.warning{
    color: darkred;
}
.clearfix{
    clear:both;
    
}

