{% extends "base.html" %}

{% block content %}
<h2 class="text-white text-center my-4">About App</h2>
<div class="row">
	<div class="col-sm-4"></div>
    <div class=" col-sm-4 text-white text-center my-4">
        This application is used to record tasks with deadlines , red marked deadlines indicate unfulfilled tasks in the deadline , yellow indicate that they need to be completed within three days. This application is my first attempt at programming, so please rate it in the Contact section so that I can continue to develop. Thank you Pavel Zýma
    </div>
	<div class="col-sm-4"></div>
</div>	
{% endblock %}