    {% extends "base.html" %}

	 

    {% block content%}
		{% if not success %}
		<div style="margin-top: 80px;">
	    <h2 class="text-white my-4">Welcome in ToDo app</h2>
		<h5 class="text-white text-center my-5">Please login or register </h5>
		</div>
		{% endif %}
		
	{% if success %}
	<div class="container border" style="margin-top: 80px;" >
		<p><h1 class="text-center text-white text-decoration mt-4">List of Tasks</h1></p>
		<div class=" mx-auto">
			<form action="/todolist" class="my-3">	
				<div class="  clearfix">
					<a href="/add"class="btn btn-success col-md-1 " name="add">Add</a>
					<a href="" onclick="print()" class="btn btn-light col-md-1 float-right" name="Print">Print</a>
				</div>
				<div id=menu>
					<div id="item" class="btn btn-warning my-3">Filter</div>
					<div id="submenu">
						<input type="submit" name="submit" value="Current" class="col-md-1 btn btn-primary">					
						<input type="submit" name="submit" value="History" class="col-md-1  btn btn-danger">
						<input type="submit" name="submit" value="All" class="col-md-1  btn btn-success">
					</div>
				
				</div>
			</form>
		
			<div class="row my-4" >
				<!--<div class="col-sm-1">#</div>-->
				<div class="col-md-7 text-white">Task:</div>
				<div class="col-md-2 text-white">Deadline:</div>
				<div class="col-md-1 text-white">Done:</div>
				
			</div>
		
		
			<form action="" class="text-center">
				{% for record in records %}
				<div class="input-group datum2">
					<input type="text" readonly="readonly" class="form-control col-md-7 " name="ukol" id="ukol" value="{{ record[1] }}" >

					<input type="text" readonly="readonly" class="form-control-date col-md-2  datum3"  name="execdate"  value="{{ record[2] }}">
					
					<!--<input type="text" readonly="readonly" value="{{ record[0] }}" name="id" class=" form-control col-sm-1">-->
					{% if record[3]==1 %}
					
						<input type="checkbox" value=1 disabled checked id="checkbox"  class=" form-control col-md-1  ifchecked">
				
					{% else %}
						
						<input type="checkbox" value=0 disabled id="checkbox" class=" form-control col-md-1 ifchecked">
					
					{% endif %}
					
					<a href="/edit?id={{record[0]}}"  class="col-md-1 btn btn-info" name="edit">Edit</a>

					<a href="/del?id={{ record[0] }}"  class="col-md-1 btn btn-danger" name="delete" >Delete</a>

					
				</div>
				<br>
				{% endfor %}
				
			</form>
		</div>
	</div>
		{% endif %}	
	{% endblock %}	
	